# **Planilhas** **do** **Excel**

In [ ]:
#importar a biblioteca
import pandas as pd

In [ ]:
#ler os arquivos excel
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [ ]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [ ]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [ ]:
#Exibindo as 5 Ãºltimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [ ]:
#Exibe uma amostra do dataset
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde
229     Natal 2019-01-02   43.08    1036     2
124   Aracaju 2018-01-01  139.64    1522     5
109    Recife 2019-03-02   18.90     982     6
2    Salvador 2019-02-10  173.59    1035     3
61     Recife 2019-01-01  127.85     982     7

In [ ]:
#Saber qual o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#Alterar o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

# **Valores** **Faltantes** - tratamento dos dados

In [ ]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#Substituindo os valores nulos pela mÃ©dia
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
df["Vendas"].mean()

122.61180089485438

In [ ]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
36       Natal 2019-02-09  328.00    853     2
61     Aracaju 2018-01-01   39.80   1520     6
203      Natal 2019-01-02   37.75   1035     2
63   Fortaleza 2019-01-01  118.17   1004     1
55       Natal 2019-01-08  859.00    854     4
126     Recife 2019-03-02   41.87    980     8
65       Natal 2019-04-05  292.00    852     2
154      Natal 2019-01-02    9.58   1037     1
5      Aracaju 2018-01-01  156.20   1522     1
28     Aracaju 2018-01-01  114.93   1520     5
117   Salvador 2019-03-02   39.41   1034     1
145      Natal 2019-01-02   84.62   1034     2
83   Fortaleza 2019-01-01    3.88   1002     6
28   Fortaleza 2019-01-01   34.88   1004     3
32   Fortaleza 2019-01-01   43.33   1004     4

**Para** **substituir** **os** **valores** **nulo** **por** **0** 

df["Vendas"].fillna(0, inplace=True)

**Para** **apagar** **as** **linhas** **com** **valores** **nulos** **se** **baseando** **em** **1** **coluna**

df.dropna(subset=["Vendas"], inplace=True)

**Para** **apagar** **as** **linhas** **com** **valores** **nulos** **se** **baseando** **em** **todas** **as** **colunas**

df.dropna(how="all", inplace=True)

# **Adicionando** **colunas** **no** **dataset**

In [ ]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [ ]:
#adicionando uma coluna que calcula a receita/vendas (qtde)  
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [ ]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [ ]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [ ]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [ ]:
#nlargest -> 3 melhores (maiores) receitas
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [ ]:
#nsamllest -> mede as 3 piores (menores) receitas
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

**Agrupamento**, **ordenando**

In [ ]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [ ]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

# **Datas**

In [ ]:
#Transformando a coluna de data em tipo inteiro (simulando um cenÃ¡rio real das empresas)
df["Data"] = df["Data"].astype("int64")

In [ ]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [ ]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [ ]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [ ]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [ ]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [ ]:
df.sample(5)

       Cidade       Data  Vendas  ... Receita  Receita/Vendas  Ano_Venda
64   Salvador 2019-01-01   37.96  ...  113.88             3.0       2019
197     Natal 2019-01-02   10.45  ...   20.90             2.0       2019
109   Aracaju 2018-01-01   51.64  ...  258.20             5.0       2018
61    Aracaju 2018-01-01   39.80  ...  238.80             6.0       2018
133  Salvador 2019-03-02  153.71  ...  153.71             1.0       2019

[5 rows x 8 columns]

In [ ]:
#Extraindo o mÃªs e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [ ]:
df.sample(5)

        Cidade       Data  Vendas  ... Ano_Venda  mes_venda  dia_venda
66     Aracaju 2018-01-01   76.59  ...      2018          1          1
49   Fortaleza 2019-01-01  183.33  ...      2019          1          1
135     Recife 2019-03-02   10.79  ...      2019          3          2
158      Natal 2019-01-02  183.64  ...      2019          1          2
102   Salvador 2019-01-01   40.84  ...      2019          1          1

[5 rows x 10 columns]

In [ ]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [ ]:
#Calculando a diferenÃ§a de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [ ]:
df.sample(5)

       Cidade       Data  Vendas  ... mes_venda  dia_venda  diferenca_dias
110     Natal 2019-01-02  185.93  ...         1          2        366 days
24    Aracaju 2018-01-01  151.04  ...         1          1          0 days
40   Salvador 2019-02-13  161.87  ...         2         13        408 days
34      Natal 2019-01-07  484.00  ...         1          7        371 days
50     Recife 2019-01-01    7.24  ...         1          1        365 days

[5 rows x 11 columns]

In [ ]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [ ]:
df.sample(5)

     Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
23   Recife 2019-01-01   37.51  ...         1        365 days                1
89   Recife 2019-01-01   18.11  ...         1        365 days                1
61   Recife 2019-01-01  127.85  ...         1        365 days                1
10  Aracaju 2019-01-01   42.34  ...         1        365 days                1
68    Natal 2018-06-22  274.00  ...        22        172 days                2

[5 rows x 12 columns]

In [ ]:
#Filtrando as vendas de 2019 do mÃªs de marÃ§o
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [ ]:
vendas_marco_19.sample(20)

        Cidade       Data  Vendas  ... dia_venda  diferenca_dias  trimestre_venda
121   Salvador 2019-03-02  100.70  ...         2        425 days                1
129   Salvador 2019-03-02  125.66  ...         2        425 days                1
122     Recife 2019-03-02  235.06  ...         2        425 days                1
108   Salvador 2019-03-02   11.72  ...         2        425 days                1
5        Natal 2019-03-30  674.00  ...        30        453 days                1
111   Salvador 2019-03-02  147.35  ...         2        425 days                1
134   Salvador 2019-03-02  125.90  ...         2        425 days                1
141     Recife 2019-03-02  182.75  ...         2        425 days                1
115     Recife 2019-03-02   12.23  ...         2        425 days                1
115   Salvador 2019-03-02  202.33  ...         2        425 days                1
126     Recife 2019-03-02   41.87  ...         2        425 days                1
124   Salvador 2019-03-02   44.82  ...         2        425 days                1
128   Salvador 2019-03-02   36.84  ...         2        425 days                1
115  Fortaleza 2019-03-02   12.23  ...         2        425 days                1
130  Fortaleza 2019-03-02   12.36  ...         2        425 days                1
114     Recife 2019-03-02   16.82  ...         2        425 days                1
136   Salvador 2019-03-02   13.81  ...         2        425 days                1
129     Recife 2019-03-02   35.34  ...         2        425 days                1
116   Salvador 2019-03-02   41.78  ...         2        425 days                1
140     Recife 2019-03-02  166.89  ...         2        425 days                1

[20 rows x 12 columns]